#back-button {
    display: inline-flex;
    align-items: center;
}

#back-button svg {
    margin-right: 0.5em;
}

#form {
    margin-top: 50px;
}

.input-container {
    font-size: 1.1em;
}

.input-container label {
    display: flex;
    align-items: center;
    margin: 2em 0 0.5em;
}

.input-container label svg {
    margin-left: 0.5em;
    transform: rotate(45deg);
    cursor: pointer;
}

.input-container input {
    outline: none;
    font-family: inherit;
    background-color: var(--background-secondary);
    color: inherit;
    border: 2px solid var(--background-tertiary);
    padding: 10px 20px;
    width: 100%;
    font-size: 1.05em;
    border-radius: 3px;
    transition: border-color 0.2s ease-out;
}

.input-container input:focus {
    border-color: rgba(var(--main-colour-rgb), 0.4);
}

#add-option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    text-align: center;
    background-color: var(--background-secondary);
    width: 20%;
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid var(--background-tertiary);
    color: var(--main-colour);
    cursor: pointer;
    transition: border-color 0.2s ease-out;
}

#add-option-button svg {
    margin-right: 0.5em;
}

#add-option-button:hover {
    border-color: rgba(var(--main-colour-rgb), 0.4);
}

#submit-container {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

#create-button {
    background-color: var(--main-colour);
    color: var(--background-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.1em;
    margin-right: 2em;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    outline: none;
}

#create-button:hover {
    background-color: var(--emphasis-colour);
}

#create-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#error-message {
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid var(--background-primary);
    margin: 0;
}

@media screen and (max-width: 1000px) {
    #add-option-button {
        width: 50%;
    }
}
