#title {
    margin: 1em 0;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
}

#title svg {
    height: 2em;
    margin: 0 0.5em;
}

#title h1 {
    margin: 0;
}

#nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    user-select: none;
}

#nav .item {
    border: 2px solid #6370e9;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    transition: border-color 0.2s ease-out;
}

#nav .item:hover {
    border: 2px solid #808BED;
}

#nav .item::after {
    background-color: transparent;
}

#nav .item.create {
    border: none;
    background-color: #808BED;
    display: flex;
    align-items: center;
    color: #1F1F27;
    transition: background-color 0.2s ease-out;
}

#nav .item.create svg {
    margin-right: 0.5em;
}

#nav .item.create:hover {
    background-color: #6370e9;
}

#polls {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
    border-top: 2px solid #19191f;
    padding-top: 1em;
}

.poll-card {
    border: 2px solid #19191f;
    border-radius: 5px;
    width: calc(33% - 60px);
    padding: 0 20px;
    margin: 10px 30px;
    transition: border-color 0.2s ease-out;
    cursor: pointer;
}

.poll-card h3 {
    color:#808BED
}

.poll-card li {
    margin: 5px 0;
}

.poll-card:hover {
    border: 2px solid rgba(128, 139, 237, 0.4);
}

@media screen and (max-width: 1000px) {
    .poll-card {
        width: fit-content;
    }
}
